### Imports

In [1]:
import sys
import os
sys.path.append(os.path.abspath("../.."))
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
import pandas as pd
import numpy as np
from datetime import timedelta
from datetime import datetime
from tinyshift.tracker import CatDrift, ConDrift
import numpy as np
from tinyshift.stats import chebyshev_guaranteed_percentage
from tinyshift.series import hurst_exponent, foreca
from numpy.random import standard_normal

### Data

In [2]:
n_samples = 100000 
n_features = 20  
n_informative = 2 
n_redundant = 2  
weights = [0.2, 0.8]  
np.random.seed(42)
X, y = make_classification(n_samples=n_samples, 
                           n_features=n_features, 
                           n_informative=n_informative, 
                           n_redundant=n_redundant, 
                           flip_y=0.05, 
                           random_state=42,
                           )

category_col = np.random.choice([0, 1], size=n_samples, p=weights)

diverse_category_col = np.random.choice([0, 1, 2, 3, 4], size=n_samples)

In [3]:
def generate_random_dates_within_interval(start_date, years, n_samples):
    """
    Generates a set of random dates within a specified interval.

    Parameters:
    - start_date: The starting date (datetime object).
    - years: The number of years for the interval (int).
    - n_samples: The number of random date samples to generate (int).

    Returns:
    - np.array: Array of randomly sampled dates within the interval.
    """
    np.random.seed(42)

    weeks = years * 52
    result = np.empty(n_samples, dtype="datetime64[s]")
    current_date = start_date

    for i in range(0, n_samples, n_samples // weeks):
        date_range = pd.date_range(start=current_date, periods=7, freq="D")
        segment_size = min(n_samples // weeks, n_samples - i)
        result[i : i + segment_size] = np.random.choice(
            date_range, size=segment_size, replace=True
        )
        current_date += timedelta(7)

    return result

In [4]:
df = pd.DataFrame(X, columns=[f'feature_{i}' for i in range(n_features)])
df["unique_id"] = 1
df['discrete_0'] = category_col
df['discrete_1'] = diverse_category_col
df['target'] = y
df['datetime'] = generate_random_dates_within_interval(datetime(2021, 1, 1), 4, n_samples)
df_train = df[df["datetime"] < '2024']
df_reference = df[(df["datetime"] >= '2024-01-01') & (df["datetime"] < '2024-07-01')].copy()
df_test = df[(df["datetime"] >= '2024-07-01')].copy()

In [5]:
X_train = df_train[df_train.columns[:-2]]
y_train = df_train["target"]

### Training

In [ ]:
rf = RandomForestClassifier(random_state=42, oob_score=True, n_jobs=-1, class_weight="balanced")
rf.fit(X_train, y_train)

### df_test

In [ ]:
y_prob = rf.predict_proba(df_test[df_test.columns[:-2]])
y_pred = rf.predict(df_test[df_test.columns[:-2]])
y_prob = y_prob[np.arange(len(df_test)), y_pred]
df_test["y_prob"] = y_prob
df_test["prediction"] = y_pred

### df_reference

In [ ]:
y_prob = rf.predict_proba(df_reference[df_reference.columns[:-2]])
y_pred = rf.predict(df_reference[df_reference.columns[:-2]])
y_prob = y_prob[np.arange(len(y_prob)), y_pred]
df_reference["y_prob"] = y_prob
df_reference["prediction"] = y_pred

# Discrete Data Drift

### Median Absolute Deviation (MAD)

In [ ]:
tracker = CatDrift(df_reference, func="chebyshev", freq="W", drift_limit='mad', time_col="datetime", target_col="discrete_1")
tracker.predict(df_reference, time_col="datetime", id_col="unique_id", target_col="discrete_1")

    unique_id   datetime    metric  drift
0           1 2024-01-07  0.000104  False
1           1 2024-01-14  0.003061  False
2           1 2024-01-21  0.024436  False
3           1 2024-01-28  0.033490  False
4           1 2024-02-04  0.018948  False
5           1 2024-02-11  0.000282  False
6           1 2024-02-18  0.005303  False
7           1 2024-02-25  0.029938  False
8           1 2024-03-03  0.018149  False
9           1 2024-03-10  0.028960  False
10          1 2024-03-17  0.007567  False
11          1 2024-03-24  0.022736  False
12          1 2024-03-31  0.004397  False
13          1 2024-04-07  0.005431  False
14          1 2024-04-14  0.022627  False
15          1 2024-04-21  0.015703  False
16          1 2024-04-28  0.019662  False
17          1 2024-05-05  0.003330  False
18          1 2024-05-12  0.010816  False
19          1 2024-05-19  0.015328  False
20          1 2024-05-26  0.015328  False
21          1 2024-06-02  0.019443  False
22          1 2024-06-09  0.010137  False
23          1 2024-06-16  0.013818  False
24          1 2024-06-23  0.042894  False
25          1 2024-06-30  0.023888  False

#### Reference Plot

In [ ]:
tracker.predict(df_test, time_col="datetime", id_col="unique_id", target_col="discrete_1")

    unique_id   datetime    metric  drift
0           1 2024-07-07  0.012021  False
1           1 2024-07-14  0.003653  False
2           1 2024-07-21  0.016244  False
3           1 2024-07-28  0.004718  False
4           1 2024-08-04  0.012901  False
5           1 2024-08-11  0.017629  False
6           1 2024-08-18  0.012513  False
7           1 2024-08-25  0.010431  False
8           1 2024-09-01  0.022417  False
9           1 2024-09-08  0.019443  False
10          1 2024-09-15  0.023089  False
11          1 2024-09-22  0.024156  False
12          1 2024-09-29  0.008742  False
13          1 2024-10-06  0.010449  False
14          1 2024-10-13  0.026667  False
15          1 2024-10-20  0.000942  False
16          1 2024-10-27  0.005132  False
17          1 2024-11-03  0.026239  False
18          1 2024-11-10  0.017060  False
19          1 2024-11-17  0.003116  False
20          1 2024-11-24  0.040043  False
21          1 2024-12-01  0.007908  False
22          1 2024-12-08  0.023324  False
23          1 2024-12-15  0.007470  False
24          1 2024-12-22  0.026416  False
25          1 2024-12-29  0.006228  False
26          1 2025-01-05  0.026095  False

### Interquartile Range (iqr)

In [ ]:
tracker = CatDrift(df_reference, func="chebyshev", drift_limit='iqr', freq="W", time_col="datetime", id_col="unique_id", target_col="discrete_1", method="expanding")
tracker.predict(df_reference, time_col="datetime", id_col="unique_id", target_col="discrete_1")

    unique_id   datetime    metric  drift
0           1 2024-01-07  0.000104  False
1           1 2024-01-14  0.003061  False
2           1 2024-01-21  0.024436  False
3           1 2024-01-28  0.033490  False
4           1 2024-02-04  0.018948  False
5           1 2024-02-11  0.000282  False
6           1 2024-02-18  0.005303  False
7           1 2024-02-25  0.029938  False
8           1 2024-03-03  0.018149  False
9           1 2024-03-10  0.028960  False
10          1 2024-03-17  0.007567  False
11          1 2024-03-24  0.022736  False
12          1 2024-03-31  0.004397  False
13          1 2024-04-07  0.005431  False
14          1 2024-04-14  0.022627  False
15          1 2024-04-21  0.015703  False
16          1 2024-04-28  0.019662  False
17          1 2024-05-05  0.003330  False
18          1 2024-05-12  0.010816  False
19          1 2024-05-19  0.015328  False
20          1 2024-05-26  0.015328  False
21          1 2024-06-02  0.019443  False
22          1 2024-06-09  0.010137  False
23          1 2024-06-16  0.013818  False
24          1 2024-06-23  0.042894  False
25          1 2024-06-30  0.023888  False

### Quantile Interval & Jacknife Method

In [ ]:
tracker = CatDrift(df_reference, func="chebyshev", drift_limit=("quantile", None, 0.95), time_col="datetime", id_col="unique_id", target_col="discrete_1", freq="W", method="jackknife")
tracker.predict(df_reference, time_col="datetime", id_col="unique_id", target_col="discrete_1")

    unique_id   datetime    metric  drift
0           1 2024-01-07  0.000104  False
1           1 2024-01-14  0.003061  False
2           1 2024-01-21  0.024436  False
3           1 2024-01-28  0.033490  False
4           1 2024-02-04  0.018948  False
5           1 2024-02-11  0.000282  False
6           1 2024-02-18  0.005303  False
7           1 2024-02-25  0.029938  False
8           1 2024-03-03  0.018149  False
9           1 2024-03-10  0.028960  False
10          1 2024-03-17  0.007567  False
11          1 2024-03-24  0.022736  False
12          1 2024-03-31  0.004397  False
13          1 2024-04-07  0.005431  False
14          1 2024-04-14  0.022627  False
15          1 2024-04-21  0.015703  False
16          1 2024-04-28  0.019662  False
17          1 2024-05-05  0.003330  False
18          1 2024-05-12  0.010816  False
19          1 2024-05-19  0.015328  False
20          1 2024-05-26  0.015328  False
21          1 2024-06-02  0.019443  False
22          1 2024-06-09  0.010137  False
23          1 2024-06-16  0.013818  False
24          1 2024-06-23  0.042894  False
25          1 2024-06-30  0.023888  False

# Continuous Data Drift

## Wasserstein Distance

In [ ]:
ws = ConDrift(df_reference, func="ws", freq="W", drift_limit="auto", id_col="unique_id", target_col="feature_1", time_col="datetime")

In [ ]:
ws.predict(df_reference, id_col="unique_id", target_col="feature_1", time_col="datetime")

    unique_id   datetime    metric  drift
0           1 2024-01-07  0.036837  False
1           1 2024-01-14  0.060039  False
2           1 2024-01-21  0.096586   True
3           1 2024-01-28  0.035891  False
4           1 2024-02-04  0.069498  False
5           1 2024-02-11  0.032843  False
6           1 2024-02-18  0.067842  False
7           1 2024-02-25  0.057296  False
8           1 2024-03-03  0.035640  False
9           1 2024-03-10  0.056241  False
10          1 2024-03-17  0.051609  False
11          1 2024-03-24  0.039230  False
12          1 2024-03-31  0.037364  False
13          1 2024-04-07  0.061955  False
14          1 2024-04-14  0.095426   True
15          1 2024-04-21  0.059607  False
16          1 2024-04-28  0.119955   True
17          1 2024-05-05  0.075261  False
18          1 2024-05-12  0.053975  False
19          1 2024-05-19  0.098035   True
20          1 2024-05-26  0.037051  False
21          1 2024-06-02  0.043909  False
22          1 2024-06-09  0.054560  False
23          1 2024-06-16  0.059457  False
24          1 2024-06-23  0.100627   True
25          1 2024-06-30  0.045163  False

In [ ]:
ws = ConDrift(df_reference, func="ws", freq="W", drift_limit="auto", id_col="unique_id", target_col="feature_1", time_col="datetime")

In [ ]:
ws.predict(df_test, id_col="unique_id", target_col="feature_1", time_col="datetime")

    unique_id   datetime    metric  drift
0           1 2024-07-07  0.063965  False
1           1 2024-07-14  0.076502  False
2           1 2024-07-21  0.126251   True
3           1 2024-07-28  0.071962  False
4           1 2024-08-04  0.030056  False
5           1 2024-08-11  0.076564  False
6           1 2024-08-18  0.037549  False
7           1 2024-08-25  0.046158  False
8           1 2024-09-01  0.108532   True
9           1 2024-09-08  0.036845  False
10          1 2024-09-15  0.055631  False
11          1 2024-09-22  0.045467  False
12          1 2024-09-29  0.044207  False
13          1 2024-10-06  0.067408  False
14          1 2024-10-13  0.035273  False
15          1 2024-10-20  0.042981  False
16          1 2024-10-27  0.059560  False
17          1 2024-11-03  0.107839   True
18          1 2024-11-10  0.036393  False
19          1 2024-11-17  0.068190  False
20          1 2024-11-24  0.043507  False
21          1 2024-12-01  0.038054  False
22          1 2024-12-08  0.078988  False
23          1 2024-12-15  0.048737  False
24          1 2024-12-22  0.041122  False
25          1 2024-12-29  0.102998   True
26          1 2025-01-05  0.101197   True