In [10]:
import sys
import os
sys.path.append(os.path.abspath("../.."))
from tinyshift.association_mining import TransactionAnalyzer

In [11]:
filepath = 'groceries.csv' # https://www.kaggle.com/datasets/irfanasrullah/groceries Dataset

with open(filepath) as file:
    groceries = [line.strip().split(',') for line in file.readlines()]

In [12]:
encoder = TransactionAnalyzer().fit(groceries)
encoder.save("model.pkl")
encoder = TransactionAnalyzer.load("model.pkl")

In [13]:
encoder.zhang_metric("whole milk", "white bread")

np.float64(0.4975078519732349)

# Lift

In [14]:
encoder.correlation_matrix(["whole milk", "white bread"], ["white wine", "yogurt", "waffles", "butter", "cereals"], metric="lift")

               butter   cereals   waffles  white wine    yogurt
white bread  1.830927  1.272774  2.199857    0.635253  1.541183
whole milk   1.946251  2.516173  1.294328    0.544199  1.571895

## Zhang's Metric

In [15]:
encoder.correlation_matrix(["whole milk", "white bread"], ["white wine", "yogurt", "waffles", "butter", "cereals"], metric="zhang")

               butter   cereals   waffles  white wine    yogurt
white bread  0.473770  0.223732  0.569391   -0.374768  0.366577
whole milk   0.653036  0.809353  0.305433   -0.529409  0.488677

## Confidence

In [16]:
encoder.correlation_matrix(["whole milk", "white bread", "butter"], ["white wine", "yogurt", "waffles", "butter", "cereals", "whole milk", "white bread"], metric="confidence")

,butter,cereals,waffles,white bread,white wine,whole milk,yogurt
butter,1.000000,0.014679,0.064220,0.077064,0.020183,0.497248,0.264220
white bread,0.101449,0.007246,0.084541,1.000000,0.012077,0.405797,0.214976
whole milk,0.107839,0.014326,0.049741,0.066852,0.010346,1.000000,0.219260

# Kulczynski

In [17]:
encoder.correlation_matrix(["whole milk", "white bread", "butter"], ["white wine", "yogurt", "waffles", "butter", "cereals", "whole milk", "white bread"], metric="kulczynski")

,butter,cereals,waffles,white bread,white wine,whole milk,yogurt
butter,1.000000,0.078768,0.078406,0.089257,0.039504,0.302543,0.184588
white bread,0.089257,0.030409,0.088567,1.000000,0.019408,0.236325,0.139922
whole milk,0.302543,0.328591,0.190215,0.236325,0.074692,1.000000,0.310432

# Sorensen-Dice

In [18]:
encoder.correlation_matrix(["whole milk", "white bread", "butter"], ["white wine", "yogurt", "waffles", "butter", "cereals", "whole milk", "white bread"], metric="sorensen_dice")

,butter,cereals,waffles,white bread,white wine,whole milk,yogurt
butter,1.000000,0.026622,0.075840,0.087591,0.030055,0.177240,0.150235
white bread,0.087591,0.012766,0.088384,1.000000,0.016639,0.114793,0.099664
whole milk,0.177240,0.028026,0.086475,0.114793,0.019259,1.000000,0.283655

## Yule's Q

In [19]:
encoder.correlation_matrix(["whole milk", "white bread"], ["white wine", "yogurt", "waffles", "butter", "cereals"], metric="yules_q")

               butter   cereals   waffles  white wine    yogurt
white bread  0.333768  0.126759  0.419348   -0.234072  0.269328
whole milk   0.513340  0.682891  0.187905   -0.365135  0.379674

# Hypergeom

In [20]:
encoder.correlation_matrix(["whole milk", "white bread"], ["white wine", "yogurt", "waffles", "butter", "cereals"], metric="hypergeom")

                   butter       cereals   waffles  white wine        yogurt
white bread  9.740633e-05  4.212790e-01  0.000009    0.899959  1.255924e-05
whole milk   8.127852e-36  1.076244e-09  0.000522    0.999969  5.997334e-38

In [21]:
encoder.correlation_matrix(["whole milk", "white bread"], ["white wine", "yogurt", "waffles", "butter", "cereals"], metric="hypergeom") < 0.05

             butter  cereals  waffles  white wine  yogurt
white bread    True    False     True       False    True
whole milk     True     True     True       False    True